@import '/home/acxias/Documents/CX/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/acxias/Documents/CX/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';



$custom-theme-preview--shellbar-height: 48px;
$custom-theme-preview--navbar-width: 48px;
$custom-theme-preview--navbar-height: $custom-theme-preview--navbar-width;

