/* Status */
/* Button Color Scheme */
.yw-com_hybris_cockpitng_visjs_networkchart {
  height: 100%; }

.yw-visjs-chart-container {
  width: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 680px;
  height: 100%; }
  .yw-visjs-chart-container .z-networkchart {
    width: 100%;
    height: auto;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation {
      border-top: 1px solid var(--bo-list-border-color);
      border-bottom: 1px solid var(--bo-list-border-color);
      padding: 7px 12px;
      height: auto;
      background: var(--bo-list-background);
      box-sizing: border-box; }
      .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button {
        border-radius: 0;
        padding: 6px 8px;
        float: none;
        height: auto;
        color: var(--bo-button-transparent-text-color);
        position: relative;
        margin-left: 0; }
        .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button:not(.vis-none):hover, .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button:not(.vis-none):focus, .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button:not(.vis-none):active {
          box-shadow: none;
          color: var(--bo-button-transparent-hover-text-color); }
        .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button:not(.vis-none):before {
          content: '';
          background-position: 50%;
          background-repeat: no-repeat;
          width: 18px;
          height: 18px;
          position: absolute;
          top: 50%;
          left: 8px;
          transform: translateY(-50%); }
        .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button.vis-none .vis-label {
          margin: 0; }
        .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button.vis-connect {
          color: var(--bo-neutral-color); }
          .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button.vis-connect:before {
            content: "\e088";
            font-size: 16px;
            font-family: var(--bo-content-icon-font-family);
            position: absolute;
            left: 10px;
            top: 16px; }
        .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button.vis-add {
          float: left;
          color: var(--bo-neutral-color); }
          .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button.vis-add:before {
            content: "\e058";
            font-size: 16px;
            font-family: var(--bo-content-icon-font-family);
            position: absolute;
            left: 10px;
            top: 16px; }
        .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button.vis-edit {
          color: var(--bo-neutral-color); }
          .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button.vis-edit:before {
            content: "\e038";
            font-size: 16px;
            font-family: var(--bo-content-icon-font-family);
            position: absolute;
            left: 10px;
            top: 16px; }
        .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button.vis-delete {
          color: var(--bo-neutral-color); }
          .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button.vis-delete:before {
            content: "\e03d";
            font-size: 16px;
            font-family: var(--bo-content-icon-font-family);
            position: absolute;
            left: 10px;
            top: 16px; }
        .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button.vis-back {
          color: var(--bo-neutral-color); }
          .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button.vis-back:before {
            content: "\e1eb";
            font-size: 16px;
            font-family: var(--bo-content-icon-font-family);
            position: absolute;
            left: 10px;
            top: 16px; }
        .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-button .vis-label {
          font-size: 14px;
          line-height: 18px; }
      .yw-visjs-chart-container .z-networkchart .vis-network .vis-manipulation .vis-separator-line {
        float: none;
        height: 28px;
        margin: 5px 6px;
        vertical-align: middle;
        background: var(--bo-list-border-color); }
    .yw-visjs-chart-container .z-networkchart .vis-network .vis-close {
      background-image: none !important;
      color: var(--bo-button-transparent-text-color); }
      .yw-visjs-chart-container .z-networkchart .vis-network .vis-close:hover {
        opacity: 1;
        color: var(--bo-button-transparent-hover-text-color); }
      .yw-visjs-chart-container .z-networkchart .vis-network .vis-close:before {
        font-family: var(--bo-content-icon-font-family);
        font-size: 16px;
        content: "\e0ad";
        margin-top: 16px;
        display: block; }
    .yw-visjs-chart-container .z-networkchart .vis-network .vis-edit-mode .vis-button.vis-edit.vis-edit-mode {
      color: var(--bo-button-icon-color);
      background: var(--bo-button-background);
      border-color: 1px solid var(--bo-button-border-color); }
      .yw-visjs-chart-container .z-networkchart .vis-network .vis-edit-mode .vis-button.vis-edit.vis-edit-mode .vis-label {
        padding: 0 8px;
        margin: 0; }
  .yw-visjs-chart-container .yw-button-container.z-div {
    padding: 10px; }
  .yw-visjs-chart-container .save-button {
    float: right;
    margin-left: 10px; }
  .yw-visjs-chart-container .refresh-button {
    border-color: transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    white-space: nowrap;
    line-height: 1.33;
    box-shadow: none;
    float: right; }
  .yw-visjs-chart-container .cancel-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    white-space: nowrap;
    line-height: 1.33; }
  .yw-visjs-chart-container .action-slot {
    margin-left: auto;
    margin-right: 15%;
    display: table; }
